<!DOCTYPE html>
<html ng-app="todoDomain">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script src="src/lib/jquery/jquery-2.1.4.min.js"></script>
	<script src="src/lib/angular/angular.min.js"></script>
	<script src="src/lib/angular/angular-route.min.js"></script>
	<script src="src/lib/angular/angular-sanitize.js"></script>
	<script type="text/javascript" src="src/lib/angular-sortable-view/angular-sortable-view.js"></script>
	<script src="src/lib/storejs/store.js"></script>
	<script src="src/js/helper.js"></script>
	<script src="src/js/ls.js"></script>
	<script src="src/js/ng.js"></script>
	<script src="src/js/controller/popup.js"></script>
</head>
<body>
<div ng-controller="domainList">
	<h1>{{strDomain}}</h1>
	<ul sv-root sv-part="domainList[strDomain]" sv-on-sort="sort($item, $partFrom, $partTo, $indexFrom, $indexTo)">
		<li ng-repeat="list in domainList[strDomain]" sv-element>
			<div>
				<span>{{list.text}}</span>
				<button ng-click="removeDomainListItem(list)">delete</button>
			</div>
		</li>
		<li>
			<input type="text" ng-model="newObj.text">
			<button ng-click="newObj.add()">add</button>
		</li>
	</ul>
</div>
</body>
</html>